@import 'bootstrap';
body{


svg
{
	.block
	{
		fill: #94d31b; 
  		-webkit-filter: drop-shadow(0 1px 10px rgba(113,158,206,0.8));
  		filter: url(#drop-shadow);
	}
}
}
.center
{
	text-align:center;
}
svg{
	//border:1px solid black;
}
.reBtn
{
	margin-left:30px;
	margin-bottom:10px;
}
.delBtn
{
	padding:3px;
}
.footer
{

	text-align:center;
	p,a{
		text-align: center;
	}
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}