<div class="container">
	<div class="row">
		<div class="col-xs-12 center">
			<h1>Gene Figure Creator</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 center">
			<svg #mySVG id="mySVG" width="800" height="400">
				<line x1="0" y1="50" x2="800" y2="50" style="stroke:black;stroke-width:2" />
				
				<rect *ngFor="let block of svgItems" [attr.x]='block.x1' [attr.y]='block.y1' [attr.height]='block.bH' [attr.width]='block.bWidth' [attr.style]=block.color/>
				<polygon *ngFor="let block of svgItems" [attr.points]='block.arrow' [attr.style]=block.color />
				<text *ngFor="let block of svgItems" [attr.x]='block.labelX' [attr.y]='block.labelY' fill="black" [attr.transform]='block.rotate'>{{block.name}}</text>
				
			</svg>
			<br>
			<button class="btn-info btn" (click)="SVGdownload()">Download</button>
		</div>
	</div>
<hr><br>

<div class="row">
	<div class="col-xs-4">

		<div class="input-group">
			<label for="maxLen">Max Length</label>
			<input [(ngModel)]="maxLen" name="maxLen" type="text" class="form-control">			
		</div>
		<div class="input-group">
			<label for="blockHeight">Block Height</label>
			<input [(ngModel)]="blockHeight" name="blockHeight" type="text" class="form-control">			
		</div>
	</div>
	<div class="col-xs-4">
		<button class="btn btn-info reBtn" (click)="refresh()">Reload Image</button>
	</div>
</div>
<br>
	<div class="row center" *ngFor="let gene of genes; let i = index" >
		<div *ngIf="edit==i">
		<div class="col-xs-2">
			<div class="input-group">
				<input type="text" [(ngModel)]="genes[i].name" placeholder="Gene" class="form-control">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="input-group">
				<input type="text" [(ngModel)]="genes[i].length" placeholder="Length" class="form-control">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="input-group">
				<input type="text" [(ngModel)]="genes[i].color" placeholder="Color" class="form-control">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="input-group">
				<label for="direction">Direction</label><br>
				<input type="radio" [(ngModel)]="genes[i].direction" name="directionUD" value="forward"  checked/> Forward 
				<input type="radio" [(ngModel)]="genes[i].direction" name="directionUD" value="backward" /> Backward
				<input type="radio" [(ngModel)]="genes[i].direction" name="directionUD" value="nonCoding" /> Non Coding
			</div>
		</div>
		<div class="col-xs-1">
			<label for="arrow">Arrow Only</label>
			<input type="checkbox" [(ngModel)]="genes[i].arrow" name="arrow" value="true" />
		</div>
		<div class="col-xs-1">
			<button class="btn btn-info" (click)="refresh()">Update</button>
		</div>				
		</div>
		<div *ngIf="edit!=i">
			
		
		<div class="col-xs-2">
			<div class="input-group">
				<p><strong>Gene:</strong> {{gene.name}}</p>
			</div>	
		</div>

		<div class="col-xs-2">
			<div class="input-group">
				<p><strong>Length:</strong> {{gene.length}}</p>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="input-group">
				<p><strong>Color:</strong> {{gene.color}}</p>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="input-group">
				<p><strong>Direction:</strong> {{gene.direction}}</p>
			</div>
		</div>
		<div class="col-xs-4">
			<button (click)="deleteBlock(i)" class="btn btn-danger">Delete</button>
			<button class="btn btn-info" (click)="editBlock(i)">Edit</button>
		</div>
		</div>
	</div>
	<br><br>
	<div class="row">

		<div class="col-xs-2">
			<div class="input-group">
				<input type="text" [(ngModel)]="tempGene.name" placeholder="Gene" class="form-control">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="input-group">
				<input type="text" [(ngModel)]="tempGene.length" placeholder="Length" class="form-control">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="input-group">
				<input type="text" [(ngModel)]="tempGene.color" placeholder="Color" class="form-control">
			</div>
		</div>
		<div class="col-xs-2">
			<div class="input-group">
				<label for="direction">Direction</label><br>
				<input type="radio" [(ngModel)]="tempGene.direction" name="direction" value="forward"  checked/> Forward 
				<input type="radio" [(ngModel)]="tempGene.direction" name="direction" value="backward" /> Backward
				<input type="radio" [(ngModel)]="tempGene.direction" name="direction" value="nonCoding" /> Non Coding
			</div>
		</div>
		<div class="col-xs-1">
			<label for="arrow">Arrow Only</label>
			<input type="checkbox" [(ngModel)]="tempGene.arrow" name="arrow" value="true" />
		</div>
		<div class="col-xs-1">
			<button class="btn btn-info" (click)="addGene()">Add</button>
		</div>	

	</div>	
</div>
<br><br>
<hr>
<div class="container-fluid">
	<div class="row footer">
		<div class="col-xs-12">
			<p>&#169; Samir Akre 2017</p>
			<a href="www.samirakre.com">www.samirakre.com</a>
		</div>
	</div>
</div>
